
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #00c1c1;
}

a:hover {
  color: #00f4f4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 ,p{
  font-family: "Raleway", sans-serif;
}

.bg-light {
    background-color: #fff!important;
}

.logo {
    background: url(https://asahi-website.s3-us-west-2.amazonaws.com/images/common/custom-software-development-company-in-new-york.png) no-repeat;
    width: 175px;
    height: 73px;
    background-size: auto;
    background-position: 0 -68px;
    margin-left: 4%;
}

.nav-link{
text-transform: uppercase;
    font-size: 13px;
	font-weight: 700;
	    color: #000;
   
}



.contactuss {
    background-color: #f1cb05;
    color: #000;
    border-radius: 4px;
   
}

   .contact_us{
	   font-weight: 700;
   }
   
   
   .banner-container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-headertext{
	text-transform: uppercase;
	    font-size: 40px;
}

.banner-contenttext{
	font-size: 1.2rem;
}

.btn {
	
	    border: 2px solid transparent!important;
		    font-size: 0.8rem!important;
}
.btn-outline-primary {
	text-transform: uppercase;
    color: #fff!important;
	font-weight: 600;
    border-color: #fff!important;
	    border-radius: 30px;
	
}

.btn-outline-primary:hover{
	
	background-color: transparent!important;
}
.iconcontainer{
	
	  background: #9e9e9e21;
   /* margin: 0px;
	height: 260px;*/
}
  .about{
	    margin: 20px;  
  }
  .aboutcontent1{
	      color: #000;
  }
    .aboutcontent2{
	         color: #3f51b5;
    font-size: 27px;
	    font-weight: 500;
  }
     .partners{
      background: #000;
	  }
	  
	     .partnerstext{
			 color: #fff;
    font-size: 20px;
	    margin: 17px;
		text-align: center;
	
		 }
		 
	.text-center{
		
			text-align: center!important;
    content: "";
    margin-left: calc(100% - 75%);
	}
	
	    .partnerimg1{
			background: #fff;
    border-radius: 4px;
		}
		
		.stepstext{
		text-align:center	
			
			
		}
		.expertise{
			 background: #9e9e9e21;
		}
		   
		   .carouselcontainer{
			 background: #ffc107;
		}
		
		.carousel{
  margin-top: 50px;
}
.carousel-inner{
  height: 100px;
}
.carousel-caption{
  color: #fff;
  top: 50%;
}

.section-title{
	text-align:center;
	
	color: #fff;
}
.contact{
	
    background: #11248e;
}